@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Karla:wght@700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Karla', sans-serif;
	color: #2b283a;
}

hr {
	border: 2px solid #fca311;
	margin: 1rem 0;
}

.container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: rgb(46, 59, 49);
}
.detailsContainer,
.postContainer {
	height: 900px;
	width: 50%;
	margin: 2rem;
	padding: 2rem;
	background-color: #e3d9c7;
	border-radius: 10px;
}
.detailsContainer {
	height: 100%;
}
.postContainer {
	background-color: #ffffff;
}

input[type='text'],
input[type='email'],
.textArea {
	width: 100%;
	height: 25px;
	margin: 0.2rem 0;
	padding: 0 0.2rem;
	border: none;
	border-radius: 5px;
}

.textArea {
	height: 100px;
	resize: none;
}

.list {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	&__first {
		&--name {
			font-size: 3rem;
			text-transform: uppercase;
		}

		&--position {
			color: #b9b9b9;
			font-size: 1.5rem;
		}
	}

	&__second {
		font-size: 0.9rem;

		& > *:not(:last-child) {
			margin-bottom: 0.2rem;
		}

		& * {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-right: 5px;
			color: #2b283acb;
		}
	}
}

.workTitle {
	margin: 0.8rem 0;
	color: #14213d;
	font-size: 1.25rem;
	text-transform: uppercase;
}

.work {
	margin-bottom: 0.5rem;
	display: flex;
	justify-content: space-between;
	font-size: 0.8rem;

	&__end {
		display: flex;

		&--company {
			margin-right: 0.2rem;
		}
	}

	&__btn {
		height: 30px;
		width: 80px;
		margin: 0.8rem 0.5rem 0.8rem 0;
		background-color: #ffffff;
		border: none;
		cursor: pointer;

		&:focus {
			outline: none;
		}

		&:hover {
			box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.18);
		}
	}
}
